h1 {
    font-size: 1.2em;
    text-align: center;
    margin: 10px;
}

h2 {
    font-size: 1em;
    text-align: center;
    margin: 10px;
}

p {
    font-size: 0.9em;
    text-align: justify;
    margin: 20px;
}

button {
    margin: 20px;
}

.optionContainer {
    text-align: center;
}