//------Google fonts

@import url(http://fonts.googleapis.com/css?family=Audiowide); //Audiowide font
@import 'https://fonts.googleapis.com/css?family=Montserrat';//MontSerrat font
@import 'https://fonts.googleapis.com/css?family=Raleway'; //Raleway font


//-------Variables for homepage
$font-home-title: "Montserrat", Helvetica, sans-serif;
$font-home-subtitle: "Audiowide", Helvetica, sans-serif;
$font-home-text: "Raleway", sans-serif;

//-------Variables for shortfall theme(Simone)
$font-text: "Raleway", sans-serif;

